<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.bootthymeleaf.mapper.AddressMapper">

    <select id="time" resultType="String">
        select sysdate from dual
    </select>

    <select id="num" resultType="Integer">
        select count(*) from tblAddress
    </select>

    <select id="txt" resultType="String">
        select name from tblAddress where rownum = 1
    </select>

    <select id="get" resultType="com.test.bootthymeleaf.dto.AddressDTO">
        select * from tblAddress where rownum = 1
    </select>

    <select id="names" resultType="String">
        select name from tblAddress
    </select>

    <select id="list" resultType="com.test.bootthymeleaf.dto.AddressDTO">
        select * from tblAddress
    </select>


</mapper>


