<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://pinnpublic.dothome.co.kr/cdn/example-min.css">
</head>
<body>
    <h1>스프링 메시지(Local)</h1>

    <h2 th:text="#{language}"></h2>

    <h3 th:text="#{item.title}"></h3>

    <ul>
        <li th:text="#{item.name}"></li>
        <li th:text="#{item.color}"></li>
        <li th:text="#{item.option}"></li>
        <li th:text="#{item.desc(#{item.name}, #{item.color})}"></li>
    </ul>


</body>
</html>